.home{
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: -1;
}

.home .img img{
    width: 100%;
}